.theme-light {
  --bg-color: #ffffff;
  --text-color: #333333;
  --menu-bg-color: #2c3e50;
  --menu-item-color: #a9acb3;
}

.theme-dark {
  --bg-color: #333333;
  --text-color: #ffffff;
  --menu-bg-color: #2c3e50;
}
